<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <br><div class="form-group">
    <strong>Name:</strong>
    <%= f.text_field :name, autofocus: true %>
  </div>

  <br><div class="form-group">
    <strong>Email:</strong>
    <%= f.email_field :email %>
  </div>

  <br><div class="form-group">
    <strong>Password (6 characters minimum):</strong>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <br><div class="form-group">
    <strong>Password Confirmation:</strong>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div><br>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
