<%= javascript_include_tag :defaults %>


<% if current_user.is_admin == true %>

  <h1>Welcome to the Administration Menu</h1>
  <br>
  <%= link_to 'Manage Admins and Users', users_url %>
  <br><br>
  <%= link_to 'Manage Accounts', accounts_url %>
  <br><br>
  <%= link_to 'Manage Transactions', transactions_url %>
  <br><br>
  <%= link_to "Edit Profile", edit_user_registration_path %>

<% else %>

  <h1>Welcome to the User Menu</h1>
  <br>
  <%= link_to 'My Accounts', accounts_url %>
  <br><br>
  <%= link_to 'My Transactions', transactions_url %>
  <br><br>
  <%= link_to 'Add Friend', friends_url %>
  <br><br>
  <%= link_to 'Request Account Creation/Deletion (need db table)', transactions_url %>
  <br><br>
  <%= link_to "Edit Profile", edit_user_registration_path %>

<% end %>
