
<% if current_user.is_admin == true %>

  <h1>Welcome to the Administration Menu</h1>
  <br>
  <%= link_to 'Manage Admins and Users', users_url %>
  <br><br>
  <%= link_to 'Manage Accounts', accounts_url %>
  <br><br>
  <%= link_to 'View All Transactions', transactions_path(:id => '0') %>
  <br><br>
  <%= link_to 'Approve/Disapprove Transactions', transactions_path(:id => '1') %>
  <br><br>
  <%= link_to 'Account Requests', account_requests_url %>
  <br><br>
  <%= link_to "Edit Profile", edit_user_registration_path %>

<% else %>

  <h1>Welcome to the User Menu</h1>
  <br>
  <%= link_to 'My Accounts', accounts_url %>
  <br><br>
  <%= link_to 'New Bank Transaction', new_transaction_url %>
  <br><br>
  <%= link_to 'My Friends', friends_url %>
  <br><br>
  <%= link_to 'Request Account Creation', new_account_request_url %>
  <br><br>
  <%= link_to "Edit Profile", edit_user_registration_path %>

<% end %>
