<p id="notice"><%= notice %></p>

<h1>Welcome to the Administration Menu</h1>


<br>
<%= link_to 'Manage Admins', people_url %>
<br><br>
<%= link_to 'Manage Users', users_url %>
<br><br>
<%= link_to 'Manage Accounts', people_url %>
<br><br>
<%= link_to 'Manage Transactions', people_url %>
<br><br>
<%= link_to "Edit Profile", admins_url %>