<% if notice %><div class="alert alert-info"><%= notice %></div><% end %>
<% if alert %><div class="alert alert-warning"><%= alert %></div><% end %>

<% person = (@friend.friend1.to_i == current_user.id.to_i)? @friend.friend2 : @friend.friend1 %>
<% info = ActiveRecord::Base.connection.execute("SELECT * FROM users WHERE id=\'#{person.to_i}\'") %>
<p>
  <strong>Name:</strong>
  <%= info[0]["name"] %>
</p>

<p>
  <strong>Email:</strong>
  <%= info[0]["email"] %>
</p>

<%= link_to 'Back', friends_path %>
