<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <br><div class="form-group">
        <strong>Name:</strong>
        <%= f.text_field :name, autofocus: true %>
    </div>

    <br><div class="form-group">
        <strong>Is Admin?:</strong>
        <%= f.check_box :is_admin %>
    </div>

    <br><div class="form-group">
        <strong>Is User?:</strong>
        <%= f.check_box :is_user %>
    </div>

    <br><div class="form-group">
        <strong>Email:</strong>
        <%= f.email_field :email %>
    </div>

    <br><div class="form-group">
        <strong>Password (6 characters minimum):</strong>
        <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <br><div class="form-group">
        <strong>Password Confirmation:</strong>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div><br>

    <div class="actions">
        <%= f.submit "Sign up" %>
    </div>
<% end %>