<p id="notice"><%= notice %></p>

<p>
  <strong>Lname:</strong>
  <%= @person.LName %>
</p>

<p>
  <strong>Fname:</strong>
  <%= @person.FName %>
</p>

<p>
  <strong>Init:</strong>
  <%= @person.init %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @person.password %>
</p>

<p>
  <strong>Is admin:</strong>
  <%= @person.is_admin %>
</p>

<p>
  <strong>Is user:</strong>
  <%= @person.is_user %>
</p>

<p>
  <strong>Is super:</strong>
  <%= @person.is_super %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
