<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Is admin:</strong>
  <%= @user.is_admin %>
</p>

<p>
  <strong>Is user:</strong>
  <%= @user.is_user %>
</p>

<p>
  <strong>Is super:</strong>
  <%= @user.is_super %>
</p>

<% if current_user != @user %>
    <%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>

<%= link_to 'Back', users_url %>
