<%= form_for(transaction) do |f| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
    <% if current_user.current_transaction == "withdraw" %>
      <h3><%= "Withdrawl:" %></h3>
        <%= f.hidden_field :transtype, :value => "Withdraw" %>

        <% results1 = ActiveRecord::Base.connection.execute("SELECT * FROM accounts WHERE user_id='#{current_user.id}' AND is_closed='f'") %>
        <div class="field">
          <%= f.label 'Account' %>
          <%= select("transaction", "account_id", results1.collect{ |c| [ c["acc_number"].to_i, c["id"].to_i]}) %>
        </div>

        <div class="field">
          <%= f.label :amount %>
          <%= f.text_field :amount %>
        </div>

        <div class="actions">
          <%= f.submit %>
        </div>
    <% elsif current_user.current_transaction == "deposit" %>
        <h3><%= "Deposit:" %></h3>

        <%= f.hidden_field :transtype, :value => "Deposit" %>

        <% results1 = ActiveRecord::Base.connection.execute("SELECT * FROM accounts WHERE user_id='#{current_user.id}' AND is_closed='f'") %>
        <div class="field">
          <%= f.label 'Account' %>
          <%= select("transaction", "account_id", results1.collect{ |c| [ c["acc_number"].to_i, c["id"].to_i]}) %>
        </div>

        <div class="field">
          <%= f.label :amount %>
          <%= f.text_field :amount %>
        </div>

        <div class="actions">
          <%= f.submit %>
        </div>
    <% elsif current_user.current_transaction == "send" %>
        <h3><%= "Send Money:" %></h3>

        <%= f.hidden_field :transtype, :value => "Send" %>

        <% results1 = ActiveRecord::Base.connection.execute("SELECT * FROM accounts WHERE user_id='#{current_user.id}' AND is_closed='f'") %>

        <div class="field">
          <%= f.label 'Sending Account' %>
          <%= select("transaction", "account_id", results1.collect{ |c| [ c["acc_number"], c["id"]]}) %>
        </div>

        <% results2 = ActiveRecord::Base.connection.execute("SELECT * FROM accounts WHERE (user_id='#{current_user.id}' AND is_closed='f') OR (user_id IN (SELECT friend2 FROM friends WHERE friend1='#{current_user.id}') AND is_closed='f') OR (user_id IN (SELECT friend1 FROM friends WHERE friend2='#{current_user.id}') AND is_closed='f')") %>
        <% names = results2.collect{ |x| ActiveRecord::Base.connection.execute("SELECT name FROM users WHERE id='#{x['user_id']}'") } %>

        <div class="field">
          <%= f.label 'Receiving Account' %>
          <%= select("transaction", "receiver", names.zip(results2).collect{ |name, result| [ "#{name[0]['name'].to_s} - #{result['acc_number'].to_s}", result["acc_number"]]}) %>
        </div>

        <div class="field">
          <%= f.label :amount %>
          <%= f.text_field :amount %>
        </div>

        <div class="actions">
          <%= f.submit %>
        </div>

    <% elsif current_user.current_transaction == "borrow" %>
        <h3><%= "Borrow Request:" %></h3>

        <%= f.hidden_field :transtype, :value => "Borrow" %>

        <% results2 = ActiveRecord::Base.connection.execute("SELECT * FROM accounts WHERE (user_id IN (SELECT friend2 FROM friends WHERE friend1='#{current_user.id}') AND is_closed='f') OR (user_id IN (SELECT friend1 FROM friends WHERE friend2='#{current_user.id}') AND is_closed='f')") %>
        <% names = results2.collect{ |x| ActiveRecord::Base.connection.execute("SELECT name FROM users WHERE id='#{x['user_id']}'") } %>
        <% if names.present? %>
        <div class="field">
          <%= f.label 'Account to request money from' %>
          <%= select("transaction", "account_id", names.zip(results2).collect{ |name, result| [ "#{name[0]['name'].to_s} - #{result['acc_number'].to_s}", result["id"]]}) %>
        </div>

        <% results1 = ActiveRecord::Base.connection.execute("SELECT * FROM accounts WHERE user_id='#{current_user.id}' AND is_closed='f'") %>
        <div class="field">
          <%= f.label 'Receiving Account' %>
          <%= select("transaction", "receiver", results1.collect{ |c| [ c["acc_number"], c["acc_number"]]}) %>
        </div>

        <div class="field">
          <%= f.label :amount %>
          <%= f.text_field :amount %>
        </div>

        <div class="actions">
          <%= f.submit %>
        </div>
        <% else %>
            <p style="color: red; font-size: medium;"><%= "You have no friends... You cannot borrow." %></p>
        <% end %>
    <% else %>
        <%= "An error has occurred" %>
    <% end %>
<% end %>
