<%= form_for(transaction) do |f| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
  <%= f.label :transtype %>
  <%= select('transaction', 'transtype', ['Deposit', 'Withdraw', 'Send', 'Borrow']) %>
</div>

<div class="field">
   <%= f.label 'Sending Account' %>
   <%= select("transaction", "account_id", @current_accounts.all.collect{ |c| [ c.acc_number, c.id]}) %>
</div>

<div class="field">
  <%= f.label 'Receiving Account' %>
  <%= select("transaction", "receiver", @current_accounts.all.collect{ |c| [ c.acc_number]}, {:include_blank => ' '}) %>
</div>

<div class="field">
  <%= f.label :amount %>
  <%= f.text_field :amount %>
</div>

<div class="actions">
  <%= f.submit %>
</div>
<% end %>
