<p>
  <strong>Type:</strong>
  <%= @transaction.transtype %>
</p>

<% if @transaction.transtype == 'Deposit' %>
  <p>
    <strong>Receiving Account:</strong>
    <%= @transaction.receiver %>
  </p>
<% end %>

<% if @transaction.transtype == 'Withdraw' %>
  <p>
    <strong>Withdrawing Account:</strong>
    <%= @transaction.account.acc_number %>
  </p>
<% end %>

<% if @transaction.transtype == 'Send' || @transaction.transtype == 'Borrow' %>
  <p>
    <strong>Sending Account:</strong>
    <%= @transaction.account.acc_number %>
  </p>

  <p>
    <strong>Receiving Account:</strong>
    <%= @transaction.receiver %>
  </p>
<% end %>

<p>
  <strong>Transaction Status:</strong>
  <%= @transaction.status %>
</p>

<p>
  <strong>Transaction Amount:</strong>
  <%= number_to_currency(@transaction.amount) %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @transaction.start_date %>
</p>

<p>
  <strong>Effective date:</strong>
  <%= @transaction.effective_date %>
</p>

<%= link_to 'Back', transactions_path(:id => current_user.current_account) %>
