<%= form_for(account) do |f| %>
  <% if account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @req.nil? %>
        <div class="field">
          <%= f.label "User Email" %>
          <%= select("account", "user_id", User.where("is_user = 't'").all.collect{ |c| [ c.email, c.id]}) %>
        </div>
  <% else %>
        <div class="field">
          <%= f.label "User Email" %>
          <%= select("account", "user_id", User.where("is_user = 't' AND id = #{@req.id}").all.collect{ |c| [ c.email, c.id]}) %>
        </div>
  <% end %>



  <div class="field">
    <%= f.label "Account Number" %>
    <%= f.text_field :acc_number %>
  </div>

  <div class="field">
    <%= f.label :is_closed %>
    <%= f.check_box :is_closed %>
  </div>

  <% if !@req.nil? %>
  <div class="actions">
    <%= f.button  "Create Account", name: "req",value: "#{@req.id}"%>
  </div>
  <% else %>
   <div class="actions">
    <%= f.submit %>
   </div>
<% end %>
<% end %>
