<p>
  <strong>User Name:</strong>
  <%= @account.user.name %>
</p>

<p>
  <strong>User Email:</strong>
  <%= @account.user.email %>
</p>

<p>
  <strong>Account Number:</strong>
  <%= @account.acc_number %>
</p>

<p>
  <strong>Is closed:</strong>
  <%= @account.is_closed %>
</p>

<p>
  <strong>Balance:</strong>
  <%= number_to_currency(@account.balance) %>
</p>
<% if current_user.is_admin == true %>
  <%= link_to 'Edit', edit_account_path(@account) %> |
<% end %>
<%= link_to 'Back', accounts_path %>
