<p id="notice"><%= notice %></p>

<h1>Account Requests</h1>

<table>
  <thead>
    <tr>
      <th>Userid</th>
      <th>Created</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @account_requests.each do |account_request| %>
      <% if !account_request.created %>
      <tr>
        <td><%= User.find_by_id(account_request.userid).name %></td>
        <td><%= account_request.created %></td>
        <td><%= link_to 'Create', new_account_path(:userid => account_request.userid, :id => '1')%></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.is_admin == false %>
    <%= link_to 'New Account Request', new_account_request_url %>
<% end %>